html , body {
    height: 100%;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.clearfix{clear: both;}
.container {
    width: 100%;
    height: 100%;
    background-image: url(img/slider/slider-01.jpg);
    background-position: center;
    background-size: 100%;
}
.sub-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.intro {
   
    width: 50%;
    margin: auto;
    text-align: center;
    color: rgb(177, 43, 60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    line-height: 10px;
    font-size: 2em;
    box-sizing: border-box;
}
.intro p ,h3{
    color: white;
    font-size: 1em;
}
.intro h1{
    font-size: 2.5em;
}
.navbar {
    position: fixed;
    top: 0px;
    right: 50px;
    box-sizing: border-box;
}
.navbar button {
    border: none;
  /*  padding: 10px; */
    background-color: transparent;
    
}
.navbar a {
    padding: 10px;
    background-color: transparent;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    
}
.navbar :first-of-type a {
    color: rgb(172, 17, 17);
    font-size: 2em;
}
.fokir a {
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: rgb(196, 14, 44);
    position: fixed;
    top: 0px;
    left: 100px;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
}
.section-two {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
   
    
}
.anything span {
    color: rgb(153, 14, 37);
}
.half-one {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    box-sizing: border-box;
    
}

.frame {
   
    width: fit-content;
    height: fit-content;
    border: 10px solid rgb(41, 37, 37);
    position: absolute;
    top: 10%;
    right: 20%;
    box-sizing: border-box;
   
}
.mov-pic img {
    display: block;
}
.mov-pic {
    transform: translate(25px,20px);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
   }
 

.cover-it {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    background-color: rgba(97, 89, 93, 0.6);
    box-sizing: border-box;
    
}
.cover-it button {
    position: relative;
    top: 50%;
    left: 10%;
    background-color: rgb(53, 47, 47);
    border: none;
    border-radius: 10px;
    
}
.cover-it a {
    text-decoration: none;
   
    color: white;
    font-size: 1.1em;
}
.mov-pic:hover .cover-it {
    top: 0%;
    transition : all 1s
    
}
   
.half-two {
    width: 50%;
    height: 100%;
    float: left;
 
    position: relative;
    text-align: left;
    box-sizing: border-box;}

.list-one {
    position: absolute;
    left: 0%;
    top: 40%;
    
    
}
.list-two{
    position: absolute;
    left: 30%;
    top :40%;
  
    text-align: left;
}
.but-one {
    position: absolute;
    left: 5%;
    bottom: 30%;
    
}
.but-one button {
    padding: 15px 20px;
    background-color: rgb(202, 60, 119);
    border: none;
    border-radius: 5px;
}
.but-two button {
    padding: 15px 30px;
    background-color: rgb(202, 60, 119);
    border: none;
    border-radius: 5px 
}
.but-two {
    position: absolute;
    left: 30%;
    bottom: 30%
}
.list-one ul li {
    list-style-type: none;
  
}
.list-two ul li {
    list-style-type: none;
}
.anything {
    position: absolute;
    left: 5%;
    top: 20px;
    width: 90%;
    margin: auto;

}
.fixing span {
    font-size: 1.2em;
}
.below {
    width: 100%;
    height: 500px;
    background-color: gainsboro;
    text-align: center;
  
    box-sizing: border-box;
    
}
hr
 {background-color: red;
width: 100px;
}
.shiled {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    box-sizing: border-box;
}
.below .one {
    padding-top: 5px;
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    
    text-align: center;
    float: left;
}
.below .one img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.below .one:hover img {
    transform: scale(1.1);
    transition: all 1s;
}
.below .two {
    padding-top: 5px;
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    
    text-align: center;
    float: left;
}
.below .two img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.below .two:hover img {
    transform: scale(1.1);
    transition: all 1s;
}
.below .three {
    padding-top: 5px;
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    
    text-align: center;
    float: left;
}
.below .three img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.below .three:hover img {
    transform: scale(1.1);
    transition: all 1s;
}
.below .four {
    padding-top: 5px;
    width: 25%;
    height: 200px;
    box-sizing: border-box;
    
    text-align: center;
    float: left;
}
.below .four img {
    width: 30px;
    height: 30px;
    background-color: transparent;
}
.below .four:hover img {
    transform: scale(1.1);
    transition: all 1s;
}

.one:hover {
    background-color: rgb(255, 255, 255);
    transition: all 1s;

}
.two:hover {
    background-color: rgb(255, 255, 255);
    transition: all 1s;

}
.three:hover {
    background-color: rgb(255, 255, 255);
    transition: all 1s;

}
.four:hover {
    background-color: rgb(255, 255, 255);
    transition: all 1s;

}
.port {
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 1000px;
    box-sizing: border-box;
    
}
.inside button {
    background-color: transparent;
    margin: 20px;
    padding: 10px 30px;
    border: none;

}
.inside :first-of-type a {
    color: fuchsia;
}
.inside a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bolder;
}

}
.forget {
    width: 100%;
    height: auto;
    text-align: center;
    
    padding: 20px;
}
.forget button {
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    border-radius: 5px;}
.forget a {
    text-decoration: none;
}
.forget :first-of-type a {
    color: rgb(233, 21, 21);
}
.emmet {
    width: 90%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:space-between;
    align-content:space-between

}
.catty {
    width: 30%
}
.catty img {
    width: 100%;
    height: 90%;
}
.pic-one {
    position: relative;
    overflow: hidden;
  
}
.overlay {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-one:hover .overlay {
    top: 0px;
transition: top .5s;
}


.pic-two {
    position: relative;
    overflow: hidden;
  
}
.overlay-two {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay-two img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-two:hover .overlay-two {
    top: 0px;
transition: top .5s;
}
                 















.pic-three {
    position: relative;
    overflow: hidden;
  
}
.overlay-three {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay-three img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-three:hover .overlay-three {
    top: 0px;
transition: top .5s;
}

.pic-four {
    position: relative;
    overflow: hidden;
  
}
.overlay-four {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay-four img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-four:hover .overlay-four {
    top: 0px;
transition: top .5s;
}
.pic-five {
    position: relative;
    overflow: hidden;
  
}
.overlay-five {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay-five img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-five:hover .overlay-five {
    top: 0px;
transition: top .5s;
}
.pic-six {
    position: relative;
    overflow: hidden;
  
}
.overlay-six {
    width: 100%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: end;
    align-items:flex-end;
    align-content: flex-end;
    
}
.overlay-six img {
    width: 30px;
    height: 30px;
    padding: 20px;
}
.pic-six:hover .overlay-six{
    top: 0px;
transition: top .5s;
}


.horizon{
    width: 100%;
    height: 300px;
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-around;
    text-align: center;
    padding: 60px;
    box-sizing: border-box;
    color: black;

}
.item {
    width: 25%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    color: black;
}
.item h3 {color: black;}
.item img {
    width: 20%;
    height:20%
}
.feedback {
    width: 100%;
    height: 400px;
   
    padding-bottom: 30px;
    text-align: center;
    box-sizing: border-box;
}

.inner {
    text-align: center;
    width:80%;
    margin: auto;
    display: flex;
    justify-content: center;
   
  
}
.inner img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.inner {
    display: flex;
    align-content: flex-end;
}
.sub-in {
    width: 50%;
    height: 50%;
}
sub-in-two {
    text-align: left;
    padding: 10px;
    width: 50%;
    height: 50%;
    box-sizing: border-box;
  
}
inn-two {
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: indianred;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}
.our-blog{
    width: 100%;
    height: 600px;
    text-align: center;
    background-color: lavender;
    padding: 30px;
    box-sizing: border-box;
}
.slices {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
}
.slice {
    width: 30%;
    height: 70%;
    padding: 20px;
    background-color: white;
    margin: 10px;
    text-align: left;
}
.slices .slice img{
    width: 90%;
    height: 50%;
}
.slice-two video {width: 90%;
height: 50%;}
.slice button {
    background-color: white;
    border: none;
}
.slice a  {
    text-decoration: none;
    color: black;
    font-size: 1.2em;

}
.slice a:hover {
    color: fuchsia;
}
.input {
    padding: 50px;
    width: 100%;
    text-align: center;
    height: 500px;
    margin-bottom: 100px;
   
    margin: 0px;
    box-sizing: border-box;
    
  
}
.input-one {
    margin: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    ;
    
}
.input-one input {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    
}
.input-two {
    margin: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    
}
.input-two input {
    width: 100%;
    padding: 10px;
    
    box-sizing: border-box; 
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;}
    
.input-three {
    width: 90%;
    margin: 20px;
    
    
}
.input-three input {
   
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none }

    

.input .inputss {
    width: 90%;
    height: 90%;
    margin: auto; 
}
.input-four {
    
    margin: 20px;
    width: 90%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

}
.input button {
    padding: 15px;
    background-color: rgb(116, 15, 15);
    border: 2px solid #ccc;
    border-radius: 4px;
    color: white;
    
}
.footer {
    width:100%;
    height: 200px;
    background-color: #333333;
    margin:0;
    padding:0;
    margin-top: 30px;
   
}
.footer .lists li {
    display: inline-block;
  
}
.footer .lists a {
    text-decoration: none;
    color: white;

    
    
}
.lists {
    width: 100%;
    padding: 20px;
    width: 90%;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 0px;
   
}
.rest {
    width: 100%;
 
    width: 90%;
    padding: 10px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    color: white;
}
.rest a {
    color: rgb(139, 32, 107);
    font-weight: bold;
    font-size: 1.1em;
}


@media  screen  and (max-width : 600px ) {
    .container {
        width: 100%;

    }
    .sub-container {
        width: 100%
    }
    .intro {
        width: 100%;
    }
    .navbar {
        display: none;
    }
    .section-two {
        width: 100% ;
    }
    .half-one {
        width: 80%;
    }
    .mov-pic{
        width: 100%;
    }
    .frame {
        width: 100%;
    }
    .mov-pic img {
        width: 100%;
    }
    .cover-it {
        display: none;
    }
    .half-two {
        width: 100%;
    }
    .anything {
        width: 80%;
    }
    
    .list-one {
        width:50%;
        font-size: .9em;
        padding: 10px;
       
    }
    .list-two {
        width:50%;
        font-size: .9em;
        padding: 10px;
        margin-left: 20px;
    }
    .below {
        width: 80%;
        font-size: .9em;
    }
    .shiled{
        width: 50%;
    }
    .one {
        width: 50%;
        font-size: .5em;
    }
    .one h1 {
        font-size: .9em;
    }
    .two {
        width: 50%;
        font-size: .5em;
    }
    .two h1 {
        font-size: .9em;
    }
    .three {
        width: 50%;
        font-size: .5em;
    }
    .three h1 {
        font-size: .9em;
    }
    .four {
        width: 50%;
        font-size: .5em;
    }
    .four h1 {
        font-size: .9em;
    }
    .port{
        width: 90%;
    }
   hr{
        display: none;
    }
    .below {
        width: 100%;
    }
    .below h1 {
        font-size: .7em}
        .emmet {
            width: 80%;
        }
 .horizon {
            width: 100%;
        }
.horizon h1 {
    font-size: .8em;
}
.feedback {
    width: 100%;
}
.feedback h1 {
    font-size: .8em;
}
.inner {
    width: 100%;
    height: 100%;
    text-align: left;
}
.inner img {
    width: 50%;
}
.sub-in-two {
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: .5em
    
  
}
.sub-in-two h2{
    font-size: .5em;
}
.our-blog {
    width: 100%;
}
inn-two {
    width: 100%;
}
.our-blog {
    width: 100%;
}
.slices {
    width: 100%;
}
.slice {
    width: 50%;
    font-size: .5em;
}
.slice 
}