


.sendRequest{
    width : 45% ; 
    margin : auto;
    text-align : center ; 
    margin:auto; margin-top:10px; 
}

.table {
    width : 80% ;  
    margin :30px auto ; 
}

.table tr{
    display : flex ; 
    justify-content : space-between ; 
    padding : 15px 0 ; 
}

.table tr label {
  
    padding : 0 15px  ; 
}

 



 

